// brand blue
@blue: #123;
.text-blue {color: @blue}
.blue {background: @blue}


// brand black
@black: #191919;
.text-black {color: @black}
.black {background: @black}

// brand grayscale
@gray1: #7C7470;
.text-gray1 {color: @gray1}
.gray1 {background: @gray1}

@gray2: #D1D4D5;
.text-gray2 {color: @gray2}
.gray2 {background: @gray2}

@gray3: #E4E2E2;
.text-gray3 {color: @gray3}
.gray3 {background: @gray3}

// brand white
@white: #f9f9f9;
.text-white {color: @white}
.white {background: @white}
