// brand blue
@blue: #68cdea;
.color.blue {color: @blue}
.bg.blue {background: @blue}
.rootcolor.blue .rootcolor {color: @blue}

// brand yellow
@yellow: #f9c053;
.color.yellow {color: @yellow}
.bg.yellow {background: @yellow}
.rootcolor.yellow .rootcolor {color: @yellow}

// brand red
@red: #d25368;
.color.red {color: @red}
.bg.red {background: @red}
.rootcolor.red .rootcolor {color: @red}

// brand dark
@dark: #58595b;
.color.dark {color: @dark}
.bg.dark {background: @dark}
.rootcolor.dark .rootcolor {color: @dark}

// brand lilac
@lilac: #7e588b;
.color.lilac {color: @lilac}
.bg.lilac {background: @lilac}
.rootcolor.lilac .rootcolor {color: @lilac}

// brand green
@green: #567956;
.color.green {color: @green}
.bg.green {background: @green}
.rootcolor.green .rootcolor {color: @green}

// brand pink
@pink: #D9B8C7;
.color.pink {color: @pink}
.bg.pink {background: @pink}
.rootcolor.pink .rootcolor {color: @pink}

// brand orange
@orange: #F39B7A;
.color.orange {color: @orange}
.bg.orange {background: @orange}
.rootcolor.orange .rootcolor {color: @orange}

// brand darkblue
@darkblue: #23606E;
.color.darkblue {color: @darkblue}
.bg.darkblue {background: @darkblue}
.rootcolor.darkblue .rootcolor {color: @darkblue}


// brand black
@black: #111;
.color.black {color: @black}
.bg.black {background: @black}
.rootcolor.black .rootcolor {color: @black}

// brand grayscale
@blackgray: #656564;
.color.blackgray {color: @blackgray}
.bg.blackgray {background: @blackgray}
.rootcolor.blackgray .rootcolor {color: @blackgray}

@darkgrey: #979797;
.color.darkgrey {color: @darkgrey}
.bg.darkgrey {background: @darkgrey}
.rootcolor.darkgrey .rootcolor {color: @darkgrey}

@midgray: #C5C5C5;
.color.midgray {color: @midgray}
.bg.midgray {background: @midgray}
.rootcolor.midgray .rootcolor {color: @midgray}

@lightgray: #DDDDDD;
.color.lightgray {color: @lightgray}
.bg.lightgray {background: @lightgray}
.rootcolor.lightgray .rootcolor {color: @lightgray}

@whitegray: #F5F5F5;
.color.whitegray {color: @whitegray}
.bg.whitegray {background: @whitegray}
.rootcolor.whitegray .rootcolor {color: @whitegray}

// brand white
@white: #f9f9f9;
.color.white {color: @white}
.bg.white {background: @white}
.rootcolor.white .rootcolor {color: @white}


// reset
.color.default {color: @text-color;}
.bg.default {background: @body-background;}
.rootcolor.default .rootcolor {color: @text-color}

// transparent
.color.transparent {color: transparent;}
.bg.transparent {background: transparent;}