/* 
	Nika Tomadze (@nnikoloza)
	nika.tomadze@gmail.com
*/
body {
  padding: 0;
  margin: 0;
  line-height: 1;
  border: 0;
  outline: 0 !important;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  font-family: 'Open Sans', Arial, sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 20px 0;
  line-height: 1;
  font-family: 'Open Sans', Arial, sans-serif;
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
input,
button {
  border: 0;
  outline: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */

  -webkit-appearance: none;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a {
  font-weight: 600;
  cursor: pointer;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
p {
  line-height: 1.3;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201C \201D \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: none;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
figure {
  position: relative;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
[class^="row"],
[class*=" row"] {
  display: block;
  width: 100%;
}
[class^="row"]:after,
[class*=" row"]:after {
  content: "";
  clear: both;
  display: block;
  height: 1px;
  float: none;
}
[class^="row"] > div,
[class*=" row"] > div {
  float: left;
  padding: 0 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
[class^="row"].nopadding > div,
[class*=" row"].nopadding > div {
  padding: 0;
}
[class^="row"].sidepadding > div:first-child,
[class*=" row"].sidepadding > div:first-child {
  padding-left: 0;
}
[class^="row"].sidepadding > div:last-child,
[class*=" row"].sidepadding > div:last-child {
  padding-right: 0;
}
.row1 > div {
  float: none;
  width: 100%;
}
.row2 > div {
  width: 50%;
}
.row3 > div {
  width: 33.333333333333336%;
}
.row3 > div.inverse {
  width: 66.66666666666666%;
}
.row4 > div {
  width: 25%;
}
.row4 > div.inverse {
  width: 75%;
}
.row5 > div {
  width: 20%;
}
.row5 > div.inverse {
  width: 80%;
}
.row6 > div {
  width: 16.666666666666668%;
}
.row6 > div.inverse {
  width: 83.33333333333333%;
}
.row7 > div {
  width: 14.285714285714286%;
}
.row7 > div.inverse {
  width: 85.71428571428571%;
}
.row8 > div {
  width: 12.5%;
}
.row8 > div.inverse {
  width: 87.5%;
}
.row9 > div {
  width: 11.11111111111111%;
}
.row9 > div.inverse {
  width: 88.88888888888889%;
}
.row10 > div {
  width: 10%;
}
.row10 > div.inverse {
  width: 90%;
}
.row11 > div {
  width: 9.090909090909092%;
}
.row11 > div.inverse {
  width: 90.9090909090909%;
}
.row12 > div {
  width: 8.333333333333334%;
}
.row12 > div.inverse {
  width: 91.66666666666667%;
}
.row13 > div {
  width: 7.6923076923076925%;
}
.row13 > div.inverse {
  width: 92.3076923076923%;
}
.row14 > div {
  width: 7.142857142857143%;
}
.row14 > div.inverse {
  width: 92.85714285714286%;
}
.row15 > div {
  width: 6.666666666666667%;
}
.row15 > div.inverse {
  width: 93.33333333333333%;
}
.row16 > div {
  width: 6.25%;
}
.row16 > div.inverse {
  width: 93.75%;
}
.plural > div,
.plural > li {
  width: 20%;
  float: left;
  padding: 0 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@media all and (min-width: 1440px) {
  .plural > div,
  .plural > li {
    width: 25%;
  }
}
@media all and (max-width: 1280px) {
  .plural > div,
  .plural > li {
    width: 25%;
  }
}
@media all and (max-width: 1000px) {
  .plural > div,
  .plural > li {
    width: 33.333333333333336%;
  }
}
@media all and (max-width: 728px) {
  [class^="row"] > div,
  [class*=" row"] > div {
    float: none;
    width: 100%;
  }
  [class^="row"] > div.inverse,
  [class*=" row"] > div.inverse {
    width: 100%;
  }
  [class^="row"][class^="small"] > div,
  [class*=" row"][class^="small"] > div,
  [class^="row"][class*=" small"] > div,
  [class*=" row"][class*=" small"] > div {
    float: left;
  }
  [class^="row"].small1 > div,
  [class*=" row"].small1 > div {
    float: none;
    width: 100%;
  }
  [class^="row"].small2 > div,
  [class*=" row"].small2 > div {
    width: 50%;
  }
  [class^="row"].small3 > div,
  [class*=" row"].small3 > div {
    width: 33.333333333333336%;
  }
  [class^="row"].small3 > div.inverse,
  [class*=" row"].small3 > div.inverse {
    width: 66.66666666666666%;
  }
  [class^="row"].small4 > div,
  [class*=" row"].small4 > div {
    width: 25%;
  }
  [class^="row"].small4 > div.inverse,
  [class*=" row"].small4 > div.inverse {
    width: 75%;
  }
  [class^="row"].small5 > div,
  [class*=" row"].small5 > div {
    width: 20%;
  }
  [class^="row"].small5 > div.inverse,
  [class*=" row"].small5 > div.inverse {
    width: 80%;
  }
  [class^="row"].small6 > div,
  [class*=" row"].small6 > div {
    width: 16.666666666666668%;
  }
  [class^="row"].small6 > div.inverse,
  [class*=" row"].small6 > div.inverse {
    width: 83.33333333333333%;
  }
  .plural > div,
  .plural > li {
    width: 50%;
  }
}
@media all and (max-width: 480px) {
  [class^="row"] > div,
  [class*=" row"] > div {
    float: none;
    width: 100%;
  }
  [class^="row"] > div.inverse,
  [class*=" row"] > div.inverse {
    width: 100%;
  }
  [class^="row"][class^="tiny"] > div,
  [class*=" row"][class^="tiny"] > div,
  [class^="row"][class*=" tiny"] > div,
  [class*=" row"][class*=" tiny"] > div {
    float: left;
  }
  [class^="row"].tiny > div,
  [class*=" row"].tiny > div {
    float: none;
    width: 100%;
  }
  [class^="row"].tiny2 > div,
  [class*=" row"].tiny2 > div {
    width: 50%;
  }
  [class^="row"].tiny3 > div,
  [class*=" row"].tiny3 > div {
    width: 33.333333333333336%;
  }
  [class^="row"].tiny3 > div.inverse,
  [class*=" row"].tiny3 > div.inverse {
    width: 66.66666666666666%;
  }
  [class^="row"].tiny4 > div,
  [class*=" row"].tiny4 > div {
    width: 25%;
  }
  [class^="row"].tiny4 > div.inverse,
  [class*=" row"].tiny4 > div.inverse {
    width: 75%;
  }
  .plural > div,
  .plural > li {
    width: 100%;
  }
}
.inline:after {
  content: "";
  clear: both;
  display: block;
  height: 1px;
  float: none;
}
.inline > li,
.inline > div {
  float: left;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 1px;
  float: none;
}
.center {
  max-width: 990px;
  min-width: 320px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}
.left {
  float: left;
}
.right {
  float: right !important;
}
.normal {
  font-weight: normal;
}
.hide {
  display: none;
}
.none {
  display: none !important;
}
.table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table > div {
  display: table-row;
}
.table > div > div {
  display: table-cell;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
@media all and (max-width: 728px) {
  .left,
  .right {
    float: none !important;
  }
  .text-right-mobile {
    text-align: right;
  }
  .text-left-mobile {
    text-align: left;
  }
  .text-center-mobile {
    text-align: center;
  }
  .inline > li,
  .inline > div {
    float: none;
  }
}
body {
  padding: 2%;
}
.grid section {
  margin: 20px 0;
  text-align: center;
}
.grid section div {
  background: #ddd;
}
.grid section div:nth-child(2n) {
  background: #eee;
}
@-moz-document url-prefix() {
  
}
@media all and (max-width: 1000px) {
  .show-ipad {
    display: block;
  }
  .hide-ipad {
    display: none;
  }
}
@media all and (max-width: 728px) {
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}
