/* 
	Nika Tomadze
	nika.tomadze@gmail.com
*/
body {
  padding: 0;
  margin: 0;
  line-height: 1;
  border: 0;
  outline: 0 !important;
  font-weight: 300;
  font-size: 14px;
  color: #333;
  font-family: 'Open Sans', Arial, sans-serif;
  overflow-x: hidden;
}
::selection {
  background-color: #000;
  color: #ccc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Open Sans', Arial, sans-serif;
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
input,
button {
  border: 0;
  outline: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */

  -webkit-appearance: none;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a {
  font-weight: 600;
  cursor: pointer;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
p {
  line-height: normal;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201C \201D \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: none;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
figure {
  position: relative;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.row {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin: 0 -20px;
}
.row:after {
  content: "";
  clear: both;
  display: block;
  height: 1px;
  float: none;
}
.row > [class^="col"]:first-child,
.row > [class*=" col"]:first-child {
  padding-left: 0;
}
.row > [class^="col"]:last-child,
.row > [class*=" col"]:last-child {
  padding-right: 0;
}
.row > [class^="col"].nofloat:first-child,
.row > [class*=" col"].nofloat:first-child {
  margin-left: 0;
}
[class^="col"],
[class*=" col"] {
  float: left;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
[class^="col"].nofloat,
[class*=" col"].nofloat {
  float: none;
  display: inline-block;
  vertical-align: top;
}
[class^="col"].nofloat.middle,
[class*=" col"].nofloat.middle {
  vertical-align: middle;
}
.col1 {
  width: 100%;
}
.col2 {
  width: 50%;
}
.col3 {
  width: 33.33%;
}
.col3-inverse {
  width: 66.66%;
}
.col4 {
  width: 25%;
}
.col4-inverse {
  width: 75%;
}
.col5 {
  width: 20%;
}
.col5-inverse {
  width: 80%;
}
.col6 {
  width: 16.66%;
}
.col7 {
  width: 14.29%;
}
.col8 {
  width: 12.5%;
}
.col8-inverse {
  width: 87.5%;
}
.col9 {
  width: 11.11%;
}
.col9-inverse {
  width: 88.89%;
}
.col10 {
  width: 10%;
}
.col10-inverse {
  width: 90%;
}
.col11 {
  width: 9.09%;
}
.col12 {
  width: 8.33%;
}
.col13 {
  width: 7.69%;
}
.col14 {
  width: 7.14%;
}
.col15 {
  width: 6.66%;
}
.col16 {
  width: 6.25%;
}
@media all and (max-width: 728px) {
  .row {
    padding: 0;
    margin: 0;
  }
  [class^="col"],
  [class*=" col"] {
    float: none;
    width: 100%;
    padding: 0 !important;
    margin: 20px 0;
  }
}
.inline:after {
  content: "";
  clear: both;
  display: block;
  height: 1px;
  float: none;
}
.inline > li,
.inline > div {
  float: left;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 1px;
  float: none;
}
.center {
  max-width: 990px;
  min-width: 320px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}
.left {
  float: left;
}
.right {
  float: right !important;
}
.normal {
  font-weight: normal;
}
.hide {
  display: none;
}
.none {
  display: none !important;
}
.table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table .row {
  display: table-row;
}
.table .row .cell {
  display: table-cell;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
@media all and (max-width: 728px) {
  .left,
  .right {
    float: none !important;
  }
  .text-right-mobile {
    text-align: right;
  }
  .text-left-mobile {
    text-align: left;
  }
  .text-center-mobile {
    text-align: center;
  }
  .inline > li,
  .inline > div {
    float: none;
  }
}
html {
  height: 100%;
  color: #fff;
}
body {
  padding-bottom: 100px;
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  /* Old browsers */

  background: -moz-linear-gradient(top, #000000 0%, #222222 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #222222));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #000000 0%, #222222 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #000000 0%, #222222 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #000000 0%, #222222 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #000000 0%, #222222 100%);
  /* W3C */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
.gradient .info {
  position: absolute;
  bottom: 170px;
  padding: 25px 20px;
  margin: 0;
  background: #222222;
  /* Old browsers */

  background: -moz-linear-gradient(top, #222222 0%, #333333 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222222), color-stop(100%, #333333));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #222222 0%, #333333 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #222222 0%, #333333 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #222222 0%, #333333 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #222222 0%, #333333 100%);
  /* W3C */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.gradient .status {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #bbbbbb;
  /* Old browsers */

  background: -moz-linear-gradient(top, #bbbbbb 0%, #eeeeee 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbbbbb), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #bbbbbb 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #bbbbbb 0%, #eeeeee 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #bbbbbb 0%, #eeeeee 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #bbbbbb 0%, #eeeeee 100%);
  /* W3C */

  padding: 5px;
  color: #333;
  -webkit-box-shadow: #111111 0 0 15px;
  -moz-box-shadow: #111111 0 0 15px;
  box-shadow: #111111 0 0 15px;
}
.gradient .status h4 {
  padding: 8px 5px;
  margin: 0;
  color: #333;
}
.gradient .status time {
  float: right;
}
.gradient .status div {
  background: #fff;
  -webkit-box-shadow: inset #aaaaaa 0 0 15px;
  -moz-box-shadow: inset #aaaaaa 0 0 15px;
  box-shadow: inset #aaaaaa 0 0 15px;
  padding: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #bbb;
  border-top: 1px solid #aaa;
}
.gradient .status h5 {
  text-transform: uppercase;
}
.gradient .status h5:before {
  content: "";
  position: relative;
  float: left;
  margin-right: 5px;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #a2db0c;
}
.gradient .status.notok h5:before {
  background: #bc2534;
}
.gradient .status.notok span {
  font-weight: 600;
}
.gradient .status span {
  padding: 10px 0 0;
  color: #333;
  display: block;
}
.lastresolved {
  font-size: 16px;
  color: #eee;
  padding: 15px 20px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 80px;
}
.lastresolved .circle {
  position: relative;
  float: left;
  margin-right: 5px;
  margin-top: 2px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #a2db0c;
}
.lastresolved .row {
  height: 50px;
  overflow-y: hidden;
  margin: 0;
}
.lastresolved .row .col3 {
  padding: 0 8px;
  margin-bottom: 16px;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.lastresolved h5,
.lastresolved h6 {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #eee;
  margin-right: 4px;
}
.lastresolved h6 {
  color: #999;
}
.lastresolved span {
  display: none;
}
.errors {
  height: calc(100% - 350px);
  overflow-y: auto;
  margin: 0;
  margin-bottom: 30px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.errors > li {
  padding: 20px !important;
}
.errors > li div {
  background: #bc2534;
  /* Old browsers */

  background: -moz-linear-gradient(top, #bc2534 0%, #bc2534 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bc2534), color-stop(100%, #bc2534));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #bc2534 0%, #bc2534 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #bc2534 0%, #bc2534 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #bc2534 0%, #bc2534 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #bc2534 0%, #bc2534 100%);
  /* W3C */

  padding: 15px;
  color: #fff;
}
.errors > li div h6 {
  margin-bottom: 5px;
  color: #eee;
  text-transform: uppercase;
}
.errors > li div h5 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.errors > li div span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.errors > li.known div {
  background: #dddddd;
  /* Old browsers */

  background: -moz-linear-gradient(top, #dddddd 0%, #eeeeee 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #dddddd 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #dddddd 0%, #eeeeee 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #dddddd 0%, #eeeeee 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #dddddd 0%, #eeeeee 100%);
  /* W3C */

  color: #333;
}
.errors > li.known div h6 {
  color: #777;
}
.errors > li.resolved div {
  background: #a2db0c;
  /* Old browsers */

  background: -moz-linear-gradient(top, #a2db0c 0%, #a2db0c 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a2db0c), color-stop(100%, #a2db0c));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #a2db0c 0%, #a2db0c 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #a2db0c 0%, #a2db0c 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #a2db0c 0%, #a2db0c 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #a2db0c 0%, #a2db0c 100%);
  /* W3C */

  color: #333;
}
.errors > li.resolved div h6 {
  color: #444;
}
.footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  left: 50%;
  width: 150px;
  margin-left: -75px;
  text-align: center;
}
.footer .logo {
  display: block;
  color: #555;
  font-size: 16px;
  text-align: center;
}
.footer .logo img {
  width: 48px;
}
@-moz-document url-prefix() {
  
}
@media all and (max-width: 1000px) {
  .show-ipad {
    display: block;
  }
  .hide-ipad {
    display: none;
  }
}
@media all and (max-width: 728px) {
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}
