// opacity control
.transparent 	{opacity: 0;}
.opacity {
	&.full 		{opacity: 1;}
	&.high 		{opacity: .75;}
	&.half 		{opacity: .5;}
	&.low 		{opacity: .25;}
	&.empty 	{opacity: 0;}
}

// visibility control
.hidden 		{visibility: hidden;}
.hide 			{display: none;}
.vanish 		{display: none !important;}

// clearfix
.clear {
	// overwriting even any grid element
	clear: both 		!important;
	width: 100% 		!important;
	float: none 		!important;
	height: 1px 		!important;
	overflow: hidden 	!important;
}
.clearfix {
	&:after {
		content: "";
		clear: both;
		display: block;
		height: 0;
		float: none;
	}
}

// container
.container {
	position: relative;
	.sizing;
	.clearfix;

	&.fit {
		max-width: @container-width;
		min-width: 280px;
	}

	&.center {
		margin: 0 auto;
	}
}

// floating
.float {
	&.left {float: left;}
	&.right {float: right;}
	&.reset {float: none;}
}

// font settings
.font {
	&.slim 		{font-weight: 300;}
	&.normal 	{font-weight: 400;}
	&.bold 		{font-weight: 600;}

	&.italic 	{font-style: italic;}

	&.size {
		&.h1 	{font-size: @h1;}
		&.h2 	{font-size: @h2;}
		&.h3 	{font-size: @h3;}
		&.h4 	{font-size: @h4;}
		&.h5 	{font-size: @h5;}
		&.h6 	{font-size: @h6;}
	}

	&.align {
		&.right {text-align: right;}
		&.left 	{text-align: left;}
		&.center{text-align: center;}
	}
}


// aditional tricks
// element for indent
.tab {
	&:before {
		content: "nbsp";
		opacity: 0;
	}
}

// inline set children
.inline {
	.clearfix;

	& > li,
	& > div {
		float: left;
	}
}

// tableset with witout <table>
.table {
	display: table;
	width: 100%;
	table-layout: fixed;

	& > div {
		display: table-row;

		& > div {
			display: table-cell;
		}
	}
}

// grow the first letter
.first-letter {
	&:first-letter {
		font-size: 3em;
		float: left;
		margin-right: 10px;
		font-family: Georgia;
		margin-top: 0;
		line-height: 1;
	}
}