// brand blue
@blue: #68cdea;
.color.blue {color: @blue}
.bgblue {background: @blue}
.rootcolor.blue .rootcolor {color: @blue}
.rootcolor.blue .rootbg {background: @blue}

// brand yellow
@yellow: #f9c053;
.color.yellow {color: @yellow}
.bgyellow {background: @yellow}
.rootcolor.yellow .rootcolor {color: @yellow}
.rootcolor.yellow .rootbg {background: @yellow}

// brand red
@red: #d25368;
.color.red {color: @red}
.bgred {background: @red}
.rootcolor.red .rootcolor {color: @red}
.rootcolor.red .rootbg {background: @red}

// brand lilac
@lilac: #7e588b;
.color.lilac {color: @lilac}
.bglilac {background: @lilac}
.rootcolor.lilac .rootcolor {color: @lilac}
.rootcolor.lilac .rootbg {background: @lilac}

// brand green
@green: #567956;
.color.green {color: @green}
.bggreen {background: @green}
.rootcolor.green .rootcolor {color: @green}
.rootcolor.green .rootbg {background: @green}

// brand pink
@pink: #D9B8C7;
.color.pink {color: @pink}
.bgpink {background: @pink}
.rootcolor.pink .rootcolor {color: @pink}
.rootcolor.pink .rootbg {background: @pink}

// brand orange
@orange: #F39B7A;
.color.orange {color: @orange}
.bgorange {background: @orange}
.rootcolor.orange .rootcolor {color: @orange}
.rootcolor.orange .rootcolor {color: @orange}


// brand black
@black: #111111;
.color.black {color: @black}
.bgblack {background: @black}
.rootcolor.black .rootcolor {color: @black}
.rootcolor.black .rootbg {background: @black}

// brand grayscale
@blackgray: #656564;
.color.blackgray {color: @blackgray}
.bgblackgray {background: @blackgray}
.rootcolor.blackgray .rootcolor {color: @blackgray}
.rootcolor.blackgray .rootbg {background: @blackgray}

@darkgrey: #979797;
.color.darkgrey {color: @darkgrey}
.bgdarkgrey {background: @darkgrey}
.rootcolor.darkgrey .rootcolor {color: @darkgrey}
.rootcolor.darkgrey .rootbg {background: @darkgrey}

@midgray: #C5C5C5;
.color.midgray {color: @midgray}
.bgmidgray {background: @midgray}
.rootcolor.midgray .rootcolor {color: @midgray}
.rootcolor.midgray .rootbg {background: @midgray}

@lightgray: #DDDDDD;
.color.lightgray {color: @lightgray}
.bglightgray {background: @lightgray}
.rootcolor.lightgray .rootcolor {color: @lightgray}
.rootcolor.lightgray .rootbg {background: @lightgray}

@whitegray: #F5F5F5;
.color.whitegray {color: @whitegray}
.bgwhitegray {background: @whitegray}
.rootcolor.whitegray .rootcolor {color: @whitegray}
.rootcolor.whitegray .rootbg {background: @whitegray}

// brand white
@white: #FFFFFF;
.color.white {color: @white}
.bgwhite {background: @white}
.rootcolor.white .rootcolor {color: @white}
.rootcolor.white .rootbg {background: @white}


// reset
.color.default {color: @text-color;}
.bgdefault {background: @body-background;}
.rootcolor.default .rootcolor {color: @text-color}
.rootcolor.default .rootbg {background: @text-color}

// transparent
.color.transparent {color: transparent;}
.bgtransparent {background: transparent;}