/* 
	Nika Tomadze
	nika.tomadze@gmail.com
*/

@import 'var';
@import 'func';
@import 'fonts';
@import 'reset';
@import 'form';
@import 'grid';
@import 'classes';
@import 'icons';

@green: #a2db0c;
@red: #bc2534;
@orange: #f88337;

html {
	height: 100%;
	color: #fff;
}

body {
	padding-bottom: 100px;
	position: relative;
	height: 100%;
	.sizing;
}

.gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.gradient(#000, #222);
	.sizing;
	margin: 0;

	.info {
		position: absolute;
		bottom: 170px;
		padding: 25px 20px;
		margin: 0;
		.gradient(#222, #333);
		.sizing;
	}

	.status {
		.radius(5px);
		.gradient(#bbb, #eee);
		padding: 5px;
		color: #333;
		.shadow(#111 0 0 15px);

		h4 {
			padding: 8px 5px;
			margin: 0;
			color: #333;
		}

		time {
			float: right;
		}

		div {
			background: #fff;
			.shadow(inset #aaa 0 0 15px);
			padding: 15px;
			.radius(4px);
			border: 1px solid #bbb;
			border-top: 1px solid #aaa;
		}

		h5 {
			text-transform: uppercase;
			
			&:before {
				content: "";
				position: relative;
				float: left;
				margin-right: 5px;
				margin-top: 2px;
				width: 15px;
				height: 15px;
				.radius(20px);
				background: @green;
			}
		}

		&.notok {
			h5:before {
				background: @red;
			}

			span {
				font-weight: 600;
			}
		}

		span {
			padding: 10px 0 0;
			color: #333;
			display: block;
		}
	}
}

.lastresolved {
	font-size: 16px;
	color: #eee;
	padding: 15px 20px;
	margin: 0;
	.sizing;
	position: absolute;
	bottom: 80px;

	.circle {
		position: relative;
		float: left;
		margin-right: 5px;
		margin-top: 2px;
		width: 8px;
		height: 8px;
		.radius(20px);
		background: @green;
	}

	.row {
		height: 50px;
		overflow-y: hidden;
		margin: 0;

		.col3 {
			padding: 0 8px;
			margin-bottom: 16px;
			.text-overflow;
		}
	}

	h5,
	h6 {
		display: inline-block;
		font-size: 16px;
		font-weight: 600;
		color: #eee;
		margin-right: 4px;
	}

	h6 {
		color: #999;
	}

	span {
		display: none;
	}
}

.errors {
	height: calc(~"100% - 350px");
	overflow-y: auto;
	margin: 0;
	margin-bottom: 30px;
	padding: 10px;
	.sizing;

	& > li {
		padding: 20px !important;

		div {
			.gradient(@red, @red);
			padding: 15px;
			color: #fff;

			h6 {
				margin-bottom: 5px;
				color: #eee;
				text-transform: uppercase;
			}

			h5 {
				text-transform: uppercase;
				margin-bottom: 10px;
			}

			span {
				display: block;
				.text-overflow;
			}
		}

		&.known {
			div	{
				.gradient(#ddd, #eee);
				color: #333;

				h6 {
					color: #777;
				}
			}
		}

		&.resolved {
			div	{
				.gradient(@green, @green);
				color: #333;

				h6 {
					color: #444;
				}
			}
		}
	}
}

.footer {
	position: absolute;
	bottom: 0;
	padding: 10px;
	left: 50%;
	width: 150px;
	margin-left: -75px;
	.text-center;

	.logo {
		display: block;
		color: #555;
		font-size: 16px;
		text-align: center;

		img {
			width: 48px;
		}
	}
}

@import 'browsers';
@import 'ipad';
@import 'iphone';


























